/*creamos las secciones */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: #41639e;
}
header{
    width: 100%;  /* defino tamaño header */
    height: 200px;
    margin: 0%;
    padding: 0%;
    background-color: darkgreen;
}
header img{
    height: 100%;  /* para que la imagen se acople al tañano que defini en el header */
    width: 100%;
}
nav{
    height: 48px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0%;
    background-color: darkblue;
 }
nav ul{
    list-style: none; /* para que quite los puntos o estilos de la lista */
    margin: 0%;
    padding: 0%;
}
.menu > li{
	position: relative; /* para que no se valla en ninguna otra parte de la pagina y muestre la posicion de la lista al lado */
	display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 97px; /* tamaño botones */
    background-color: darkblue; /* color fondo */
    color: white;   /* color texto */
    text-decoration:none;  /* para quitar linea debajo del texto */
    font-family: Arial, Helvetica, sans-serif;
}
.menu li a:hover{
    background-color: rgb(40, 67, 155);
    color: rgb(105, 105, 211);   /* al pasar mouse cambie color texto */
    transition: all;
}
/* submenu */
.submenu{
    position: absolute;
    background-color:rgb(40, 67, 155);
    width: 100%; /* para que sea del mismo tañano que el menu principal o tamaño botones submenu */
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.submenu li a{     /* llamo al enlace que esta dentro de li */
    display: block;
    padding: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.menu li:hover .submenu{ /* para que el menu aparezca cuando se pase el mouse */
    visibility: visible;
    opacity: 1;
}
.contenedor{
    display: flex;
}
section{
    flex: 75%;
    background-color: rgba(253, 253, 255, 0.418);
    padding: 5px;
    margin-right: 10px;
}
 section article{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 20px;
 }
aside{ 
    flex: 25%;
    background-color: darkblue;
}
footer{
    width: 100%;
    height: auto;
    background-color: rgb(13, 13, 105);
    padding: 10px; /* agrega un borde interno */
    text-align: center;
}

h1 {
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
font-family: Arial;
margin-top: 0px;
margin-bottom: 0px;
}
p{
    font-family: Arial;
}
